
.current {
  fill: #bedca3;
}

.dumbbell {
  font-family: "Arial Black";
  font-size: 12px;
}

.future {
  fill: #bedca3;
}

line.between {
  stroke: #bedca3;
  stroke-width: 2;
}

line.before {
  stroke: #bedca3;
  stroke-width: 0.5;
  stroke-dasharray: 1;
}

.axis text {
  font: 10px sans-serif;
}
