

.centered{
    text-align:center;
}

.button {
    width: 60px;
    padding: 5px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    border: 1px solid #e0e0e0;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.button2 {
    width: 100px;
    padding: 5px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    border: 1px solid #e0e0e0;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.button:hover {
    background: #e0e0e0;
}

.button.current {
    background: #000;
    color: #fff;
}

#n {
    font-size: 3.0em;
}